<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header %>

  <script type="text/javascript">
    var semesterList = ['Winter 2017','Fall 2016','Winter 2016','Fall 2015'];
    window.onload = function() {
      var sem = document.getElementById("semesters");
      for (i = 0; i < semesterList.length; i++){
        var Entry = document.createElement("option");
        Entry.value = semesterList[i];
        Entry.id = semesterList[i];
        Entry.text = semesterList[i];
        sem.add(Entry, null);
      }
    }
    function render(){
        
        var userInfo = [["Winter 2017",['CISC 101','Braun','Eric','A+','T'],['CISC 101','Martin','John','D-','F'],['CISC 203','Bobby','Ricky','B+','F']],["Fall 2016",['CISC 497','French','Steve','A-','T']]];
        while (true){
          var semester = document.getElementById("semesters");
          for (i = 0; i < userInfo.length; i++){
            if (userInfo[i][0] == semester.value){
              var dataSet = userInfo[i];
              dataSet = dataSet.slice(1,dataSet.length);
            }
          }
          if (typeof table == 'undefined'){
            table = $('#example').dataTable( {
                data: dataSet,
                columns: [
                    { title: "Course" },
                    { title: "Last Name"},
                    { title: "First Name"},
                    { title: "Grade"},
                    { title: "Previous TA"}
                  ]
              } );
            break;
          } else{
            table.fnClearTable();
            break;
          }
        }
    }
</script>
</head>
<body>


<% include ../partials/nav %>


<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Admin</h1>
    </div>
  </div>
</div>
<div class ="container pull-center">
  <div class ="row">
  <div class="col-md-2 col-md-offset-5">
    <select class="form-control" id="semesters">
        <option>Select a Semester</option>
    </select>
    <br>

 </div>
 <div class="col-md-1 col-md-offset-5.5">
      <button onClick="render()">Render</button>
    </div>
</div>
</div>
<table id="example" class="display" width="100%"></table>
</body>
</html>
