<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header %>

  <script type="text/javascript">
    var semesterList = ['Winter 2017','Fall 2016','Winter 2016','Fall 2015'];
    window.onload = function() {
      var sem = document.getElementById("semesters");
      for (i = 0; i < semesterList.length; i++){
        var Entry = document.createElement("option");
        Entry.value = semesterList[i];
        Entry.id = semesterList[i];
        Entry.text = semesterList[i];
        sem.add(Entry, null);
      }
    }

    var userList = <%- JSON.stringify(users) %>;
    var courseList = [['CISC 101','Fall 2016'],['CISC 102', 'Fall 2016'],['CISC 330', 'Fall 2016'],['CISC 472','Winter 2017'],['CISC 499','Winter 2017']];
    console.log(userList);
  
    function renderUsers(){
      var dataSet = [];
      var course = document.getElementById("courses").value;
      for (i = 0; i < userList.length; i++){
        if (userList[i].applications != undefined){
          for (j = 0; j < userList[i].applications.length; j++){
            if (userList[i].applications[j].courseCode == course){
              var grade = "N/A"
              var prevTA = false;
              //if (userList[i].grades != undefined){
              //  for (k = 0; k < userList[i].grades.length; k++){
               //   if (userList[i].grades[k].course == course){
               //     grade = userList[i].grades[k].grade;
               //   }
               // }
             // }
              var temp = [userList[i].fname, userList[i].lname, userList[i].email, grade, false];
              dataSet.push(temp);
            }
          }
        }
      }
      table = $('#example').dataTable( {
        data: dataSet,
        columns: [
            { title: "First Name"},
            { title: "Last Name"},
            { title: "Email"},
            { title: "Grade"},
            { title: "Previous TA"}
          ]
      });
    }

    function renderCourses(){
      var courses = document.getElementById("courses");
      var semester = document.getElementById("semesters").value;
      for (i = 0; i < courseList.length; i++){
        if (courseList[i][1] == semester){
          var Entry = document.createElement("option");
          Entry.value = courseList[i][0];
          Entry.text = courseList[i][0];
          Entry.name = courseList[i][0];
          courses.add(Entry, null);
        }
      }
    }

    $(function() {
      $('#courses').on('change',function(){
        renderUsers();
      });
    });
    $(function() {
      $('#semesters').on('change',function(){
        $('#courses').prop('disabled',false);
        renderCourses();
      });
    });
</script>
</head>
<body>


<% include ../partials/nav %>


<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Admin</h1>
    </div>
  </div>
</div>
<div class ="container pull-center">
  <div class ="row">
  <div class="col-md-2 col-md-offset-4">
    <select class="form-control" id="courses" disabled>
        <option>Select a Course</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-control" id="semesters">
        <option>Select a Semester</option>
    </select>
    <br>
 </div>
</div>
</div>
<table id="example" class="display" width="100%"></table>
</body>
</html>
