<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header %>

  <script type="text/javascript">

    var userList = <%- JSON.stringify(users) %>;

    var dataSet = [];


    $(document).ready(function() {

      var table = $('#example').DataTable({
          processing: true,
          serverSide: false,

          ajax: {
              url: "/admin/applications/json",
              dataSrc: ""
          },
          columns: [ 
            { data: "term", title: "Term" },
            { data: "courseID", title: "Course ID"},
            { data: "fullName", title: "Applicant Name"},
            { data: "email", title: "Email"},
            { data: "grade", title: "Grade"},
            { data: "numAssigned", title: "Courses Assigned To"},
            { data: "hasTAed", title: "Previous TA"},
            { data: "isTAing", title: "isTAing", className: "checkBox"}
         ]
      });


    $('#example').on('click','tr', function(event) {
        if (event.target.type == 'checkbox') {
          var data = table.row(this).data().isTAing;
          start = 0;
          while (data[start] != "x"){
            start++;
          }
          var id = data.substring(start+9,(data.length-2));
          //var id = $('#makeTA').attr('name');
          id = id.split(',');
          var $checkbox = $($(this).find("input")[0]).show();
          var checked = false;
          if ($checkbox.is(':checked')) {
            var checked = true;
          }
          // $.post("/admin/applications/" + id[0] + '/' + id[1] + '/' + checked)
          increment(id[0], checked);
        }
    } );

     function increment(usr, checked) {
      var counter = $('.'+usr);
      counter.each(function(){
        var $this = $(this);
        var count = $this.text();
        if (checked)
         $(this).text(parseInt(count) + 1);
       else
         $(this).text(parseInt(count) - 1);
        //counter.text(function(){
        //return newCount.toString();
      //});
       });
    }
  });


  </script>
</head>
<body>


<% include ../partials/nav %>


<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Admin</h1>
    </div>
  </div>
</div>

<form id="frm-example" action="/admin/applications" method="post">
  <table id="example" class="display" width="100%"></table>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
