<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var dataSet2 = [["Braun","Eric","13eb20@queensu.ca","4th"],["Martin","John","12jjm4@queensu.ca","4th"],["Stewart","James","jstewart@queensu.ca","1st"],["Wazowski","Mike","mwazowski@monster.inc","2nd"]];
    var email;
    var data = <%- JSON.stringify(users) %>;
    var dataSet = [];
    for (var i = 0; i < data.length; i++){
      dataSet[i] = [data[i]['lname'], data[i]['fname'], data[i]['email'],data[i]['email'],data[i]['admin']];
    }

  $(document).ready(function() {
      var table = $('#example').DataTable( {
          data: dataSet,
          columns: [
              { title: "Last Name" },
              { title: "First Name"},
              { title: "Email"},
              { title: "Year"},
              { title: "Admin" }
            ]
        } );
      $('#example tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
      }
      else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
      }
    } );
      $('#give').click(function(){
        var temp = document.getElementById("emailgive");
        temp.value =  table.row('.selected').data()[2];
      });
      $('#remove').click(function(){
        var temp = document.getElementById("emailremove");
        temp.value =  table.row('.selected').data()[2];
      });
    } );
</script>
</head>
<body>


<!-- Navigation Header (should be consistent on each page) -->
<% include ../partials/header %>


<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Admin</h1>
    </div>
  </div>
</div>

<table id="example" class="display" width="100%"></table>
<form action="/admin" method="post">
  <input id="emailgive" class="form-control-static" name="emailgive">
  <input id="emailremove" class="form-control-static" name="emailremove">
  <button id="give" type="submit" class="btn">Give Admin Privileges</button>
  <button id="remove" type="submit" class="btn">Remove Admin Privileges</button>

</form>
</body>
</html>
