<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/header %>

  <script type="text/javascript">
    var email;
    var data = <%- JSON.stringify(users) %>;
    var dataSet = [];
    for (var i = 0; i < data.length; i++){
      if (data[i]['admin']) { data[i]['admin'] = 'Yes'; }
      if (!data[i]['admin']) { data[i]['admin'] = ''; }

      dataSet[i] = [data[i]['lname'], data[i]['fname'], data[i]['email'],data[i]['email'],data[i]['admin']];
    }

  $(document).ready(function() {
      var table = $('#example').DataTable({
          data: dataSet,
          columns: [
              { title: "Last Name" },
              { title: "First Name"},
              { title: "Email"},
              { title: "Year"},
              { title: "Admin Privileges"}
            ]
        });
       $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
        });
        $('#give').click(function(){
          var temp = document.getElementById("emailgive");
          temp.value =  table.row('.selected').data()[2];
        });
        $('#remove').click(function(){
          var temp = document.getElementById("emailremove");
          temp.value =  table.row('.selected').data()[2];
        });
  });
</script>
</head>
<body>


<!-- Navigation Header (should be consistent on each page) -->
<% include ../partials/nav %>


<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Admin</h1>
    </div>
  </div>
</div>

<form action="/admin" method="post">
  <table id="example" class="display" width="100%"></table>
  <input id="emailgive" class="form-control-static" name="emailgive" hidden>
  <input id="emailremove" class="form-control-static" name="emailremove" hidden>
  <button id="give" type="submit" class="btn-success">Give Admin Privileges</button>
  <button id="remove" type="submit" class="btn-danger">Remove Admin Privileges</button>

</form>
</body>
</html>
