<!-- views/application.ejs -->
<!doctype html>
<html>
<head>
  <% include partials/header %>

  <script type="text/javascript">

/*
  var data = [];
  <%if (user.applications) { %>
    data = <%- JSON.stringify(user.applications) %>;
  <% } %>
  var dataSet = [];
  for (var i = 0; i < data.length; i++) {
    if (data[i]['hasTAed']) { data[i]['hasTAed'] = 'Yes'; }
    if (!data[i]['hasTAed']) { data[i]['hasTAed'] = ''; }
    dataSet[i] = [data[i]['courseCode'], data[i]['hasTAed'], data[i]['semester']];
  }
*/

  courseListF = [];
  courseListW = [];
  descriptionF = [];
  descriptionW = [];

  var courses = <%- JSON.stringify(courses) %>;

  for (var i=0; i < courses.length; i++) {
    var course = courses[i];
    if (course['term'] == 'Fall 2017') {
      courseListF.push(course['courseID']);
      descriptionF.push(course['courseDescription']);
    } else {
      courseListW.push(course['courseID']);
      descriptionW.push(course['courseDescription']);
    }
  }
  window.onload = function() {
    <%if (user.applications) { %>
      var apps = <%- JSON.stringify(user.applications) %>;
      var fallCount = 0;
      var winterCount = 0;
      for (i = 0; i < apps.length; i++){
          if (apps[i].semester == "Fall"){

            var place = 'F' + fallCount;
            var t = "#" + place
            $(t).text("");
            var courses = document.getElementById(place);
            var Entry = document.createElement("option");
            Entry.name = apps[i].courseCode;
            Entry.value = apps[i].courseCode;
            Entry.id = apps[i].courseCode;
            Entry.text = apps[i].courseCode;
            courses.add(Entry ,null);
            if (apps[i].hasTAed == true){
              che = "#checkF" + fallCount;
              $(che).prop("checked",true);
            }
            if (apps[i].submitted == true){
              Fstr = "F" + fallCount;
              Fcheck = "checkF" + fallCount;
              document.getElementById(Fstr).disabled = true;
              document.getElementById(Fcheck).disabled = true;
            }
            fallCount++;
          }
          if (apps[i].semester == "Winter"){

            var place = 'W' + winterCount;
            var t = "#" + place;
            $(t).text("");
            var courses = document.getElementById(place);
            var Entry = document.createElement("option");
            Entry.name = apps[i].courseCode;
            Entry.value = apps[i].courseCode;
            Entry.id = apps[i].courseCode;
            Entry.text = apps[i].courseCode;
            courses.add(Entry ,null);
            if (apps[i].hasTAed == true){
              che = "#checkW" + winterCount;
              $(che).prop("checked",true);
            }
            if (apps[i].submitted == true){
              Wstr = "W" + winterCount;
              Wcheck = "checkW" + winterCount;
              document.getElementById(Wstr).disabled = true;
              document.getElementById(Wcheck).disabled = true;
            }
            winterCount++;
          }
        }
    <% } %>
    var str;
    for (f = 0; f < 6; f++){
      str = "F" + f;
      var courses = document.getElementById(str);
      for (i = 0; i < courseListF.length; i++) {
        var Entry = document.createElement("option");
        Entry.name = "F" + i;
        Entry.value = courseListF[i];
        Entry.id = courseListF[i];
        Entry.text = courseListF[i];
        courses.add(Entry, null);
      }
    }
    for (w = 0; w < 6; w++){
      var str = "W" + w;
      var courses = document.getElementById(str);
      for (i = 0; i < courseListW.length; i++) {
          var Entry = document.createElement("option");
          Entry.name = "W" + i;
          Entry.value = courseListW[i];
          Entry.id = courseListW[i];
          Entry.text = courseListW[i];
          courses.add(Entry ,null);
      }
  }
}

  function discription(choice,desc){
    if (choice.value == "Select a course"){
      desc.title = "";
    }
    else if(choice.name[0] == "F"){
        desc.title = descriptionF[choice.name[1]];
      }
    else {
      desc.title = descriptionW[choice.name[1]];
    }
  }
  </script>
</head>
<body>

<!-- Navigation Header (should be consistent on each page) -->
<% include partials/nav %>



<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Application</h1>
    </div>
  </div>
</div>
    <% if (successMessage.length > 0) { %>
    <div class="alert alert-success text-center"><%=  successMessage %></div>
    <% } %>
<div class="col-md-4 col-md-offset-4">
  <div class="text-center">
    <small>Please select six courses for each semester for which you would like to apply. Check the box in the center if you have TA'd for this course before. Hover over the description link for an expectation of requirements for each course. A text box has been left open for comments for both semesters</small>
  </div>
</div>
<br>
<br>

<div class="container">
  <form action="/application" method="post">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
          <div class="col-sm-6 pull-left">
            <div class="text-center">
            <h1><span></span> Fall</h1>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
            <div class="row">
                <div class="col-md-5">
                  <select class="form-control" name="F0" id="F0">
                      <option>Select a course</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <input name="checkF0" id="checkF0" type="checkbox"></input>
                </div>
                <div class="col-md-3">
                  <a href="#" id="Fd0" data-toggle="tooltip" onmouseover="discription(F0,Fd0)" title = "">Description</a>
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="F1" id="F1">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkF1" id="checkF1" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Fd1" data-toggle="tooltip" onmouseover="discription(F1,Fd1)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="F2" id="F2">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkF2" id="checkF2" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Fd2" data-toggle="tooltip" onmouseover="discription(F2,Fd2)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-5">
                <select class="form-control" name="F3" id="F3">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkF3" id="checkF3" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Fd3" data-toggle="tooltip" onmouseover="discription(F3,Fd3)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="F4" id="F4">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkF4" id="checkF4" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Fd4" data-toggle="tooltip" onmouseover="discription(F4,Fd4)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-5">
                <select class="form-control" name="F5" id="F5">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkF5" id="checkF5" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Fd5" data-toggle="tooltip" onmouseover="discription(F5,Fd5)" title = "">Description</a>
              </div>
            </div>
            <br>
            <br>
            <textarea rows="4" cols="50" name="fallCom"></textarea>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <div class="col-sm-6 col-sm-offset-1">
            <div class="text-center">
            <h1><span></span> Winter</h1>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W0" id="W0">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW0" id="checkW0" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd0" data-toggle="tooltip" onmouseover="discription(W0,Wd0)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W1" id="W1">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW1" id="checkW1" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd1" data-toggle="tooltip" onmouseover="discription(W1,Wd1)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W2" id="W2">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW2" id="checkW2" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd2" data-toggle="tooltip" onmouseover="discription(W2,Wd2)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W3" id="W3">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW3" id="checkW3" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd3" data-toggle="tooltip" onmouseover="discription(W3,Wd3)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W4" id="W4">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW4" id="checkW4" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd4" data-toggle="tooltip" onmouseover="discription(W4,Wd4)" title = "">Description</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" name="W5" id="W5">
                    <option>Select a course</option>
                </select>
             </div>
              <div class="col-md-1">
                <input name="checkW5" id="checkW5" type="checkbox"></input>
              </div>

              <div class="col-md-3">
                <a href="#" id="Wd5" data-toggle="tooltip" onmouseover="discription(W5,Wd5)" title = "">Description</a>
              </div>
            </div>
            <br>
            <br>
            <textarea rows="4" cols="50" name="winterCom"></textarea>

      </div>
    </div>
    <br>
    <div class="container">
      <div class="page-footer text-center">
        <button type="submit" class="btn" name="saveButton">Save</button>
    </div>
  </div>
  <br>
    <div class="container">
      <div class="page-footer text-center">
        <button type="submit" class="btn btn-success" name="submitButton">Submit</button>
        <br>
      </div>
    </div>
  </form> 
</div>
</body>
</html>
