<!-- views/grades.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation Header (should be consistent on each page) -->
<% include partials/header %>



<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Transcript</h1>
    </div>
  </div>
</div>
<div class="col-md-4 col-md-offset-4">
  <div class="text-center">
    <small>Please enter your grades in the text area below. Format must be as follows: <br>
      CISC 101, B+ <br>
      CISC 121, A- <br>
      BIOL 103, B <br>
    </small>
    <br>
    <br>
    <form action="/grades" method="post">
      <div id="gradeTable"><textarea rows="4" cols="50" name="grades"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-success" name="submitButton">Submit</button>
      <br>
  </div>
</div>
</form>
</body>
</html>