<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">T.A. Application</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Grades</a></li>
      <li><a href="#">Application</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="page-header">
  <div class="row vbottom">
    <div class="col-sm-1">
      <img src="/images/queens.jpeg" alt="Queen's Logo" style="width:300px;height:75px;">
    </div>
    <div class="col-md-4 col-md-offset-3">
      <h1>Transcript</h1>
    </div>
  </div>
</div>

<div class="col-md-4 col-md-offset-4">
	<div class="form-center text-center">
    <h3><span></span>Please Enter Grades</h3>
		<label for "text-center">Upload Transcript</label>
  		<input type="file" class="form-control-file text-cenet col-md-10 col-md-offset-2" id="exampleInputFile" aria-describedby="
      fileHelp">
      <br>
      <small id="fileHelp" class="form-text text-muted">This will automatically fill in your courses and grades.</small>
		</div>
    <br>
</div>
<div class="container center-block">
  <div class="row center-block">
      <form action="/profile" method="post">
      <% for (var i = 0; i < 3; i++) { %>
      <div class="col-sm-4">
        <% for (var j = 0; j < 4; j++) { %>
            <div class="row">
              <div class="col-sm-5 nopadding">
                <select class="form-control" id="sel1" name="courses">
                  <option>Course Code</option>
                  <option value="101">CISC 101</option>
                  <option value="102">CISC 102</option>
                  <option value="103">CISC 103</option>
                </select>
             </div>
              <div class="col-sm-2 nopadding">
                <input class="form-control" id="Fg" type="text" name="grades">
              </div>
            </div>
            <br>
       <% } %>
     </div>
    <% } %>
  </div>  
</div>
<br>
<br>
<div class="container">
  <div class="text-center">
    <button class="btn" type="button" id="addRow" onclick="addButton();" >Add Row</button>
  </div>
</div>
<div class="container">
	<div class="page-footer text-center">
		<button type="submit" class="btn btn-custom btn-success" name="submitButton">Submit</button>
    <br>
	</div>
  </form>
</div>
</body>
</html>
