body{ 
  word-wrap:break-word; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}

#midman {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

div[class="page-header"]{
  padding-top: 20px;
	height: 100px;

}

div[class="row2"]{
  border-style: groove;

}

div[class="right"]{
	padding-right: 5%;

}

.vbottom{
	display: flex;
	vertical-align: bottom;
	float: none;
	text-align: center;
}
